html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0%;
}

.scene,
canvas{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.row{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* colors */

.gold{
    background: #D1B269;
}

.green{
    background: #009384;
}

.coffee{
    background: #e2d8c8;
}

.red{
    background: #39CAB9;
}

.black{
    background: #4D4637;
}

.hello{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 500%;
    transform: translate(-50%, -50%);
    color: white;
}

/* outlines */

.outlineGold{
    top: 55%;
    left: 50%;
    font-size: 600%;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #D1B269;
}

.outlineGreen{
    top: 55%;
    left: 50%;
    font-size: 600%;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #009384;
}

.outlineCoffee{
    top: 55%;
    left: 50%;
    font-size: 600%;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #e2d8c8;
}

.outlineRed{
    top: 55%;
    left: 50%;
    font-size: 600%;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #39CAB9;
}

.outlineBlack{
    top: 55%;
    left: 50%;
    font-size: 600%;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #4D4637;
}

/* fonts */

.montserrat{
    font-family: "Montserrat", sans-serif;
}

/* objects */

.dog{
    width: 100%;
    height: 100%;
    scale: 100%;
    background-size: 100%;
    -webkit-mask: url(../assets/dog.png);
    mask: url(../assets/dog.png);
    -webkit-mask-size: 120px auto;
    mask-size: 8% auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 2;

    -webkit-mask-position-x: 20px;
    -webkit-mask-position-y: 20px;
}

.firstP{
    position: fixed;
}


/* modifiers */

@media only screen and (max-width: 700px){
    .dog{
        -webkit-mask-size: 18% auto;
        mask-size: 15% auto;
    }
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
