html, body{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0%;
}

.scene{
    margin: 0%;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.row{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* colors */

/* .gold{
    background: #D1B269;
}

.green{
    background: #009384;
}

.coffee{
    background: #e2d8c8;
}

.red{
    background: #39CAB9;
}

.black{
    background: #4D4637;
} */

.gold{
    background: #ffffff;
}

.green{
    background: #000;
}

.coffee{
    background: #000;
}

.red{
    background: #000;
}

.black{
    background: #000;
}

/* fonts */

.montserrat{
    font-family: "Montserrat", sans-serif;
}

/* objects */
/* static */
.dog {
    position: fixed;
    width: 100%;
    height: 100%;
    scale: 100%;
    background-size: 100%;
    -webkit-mask: url(../assets/dog.png);
    mask: url(../assets/dog.png);
    -webkit-mask-size: 120px auto;
    mask-size: 8% auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 2;

    -webkit-mask-position-x: 20px;
    -webkit-mask-position-y: 20px;
}

/* page 1 */
.hello{
    position: absolute;
    top: 50vh;
    left: 50vw;
    font-size: 500%;
    transform: translate(-50%, -50%);
    color: white;
}

.outlineGold{
    top: 55vh;
    left: 50vw;
    font-size: 600%;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke-color: #D1B269; */
    -webkit-text-stroke-color: #ffffff;
}

.devBlog {
    position: absolute;
    font-size: 30px;
    top: 95vh;
    left: 2vw;
    z-index: 5;
    /* color: #D1B269; */
    color: #ffffff;
}
a:link{ text-decoration: none; }
a:visited{ text-decoration: none; }
a:hover{ text-decoration: none; }
a:active{ text-decoration: none; }


/* page 2 */
.box2_1 {
    position: absolute;
    font-size: 72px;
    top: 60vh;
    left: 15vw;
    padding-right: 10vw;
}

.name {
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.a{
    color: #000;
}

.text{
    color: #000;
    z-index: 3;
}

.cursor {
    color: #000;
    z-index: 3;
}

/* page 3 */
.box3_1 {
    position: absolute;
    top: 20vh;
    left: 50vw;
    font-size: 60px;
    color: white;
    z-index: 2;
}

.text2 {
    color: #e2d8c8;
}

#graph {
    position: absolute;
    z-index: 2;
}

/* modifiers */

@media only screen and (max-width: 700px){
    .dog{
        -webkit-mask-size: 18% auto;
        mask-size: 15% auto;
    }
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
